
$color-primary1: #0E62D4;
$color-primary2: #6234E2;

$color-white:#FFFFFF;

$color-success1:#00C1AB;
$color-success2:#00AF8B;

$color-reject1:#FF4E00;
$color-reject2:#D91D1D;

$color-shadow: #2C273829;

$color-bg-grey: #E1E1E1;